<div class="row">
    <ul class="col-xs-12 list-unstyled">
        <li>Local time: <strong>{{{time}}}</strong>.</li>
        <li>Offset relative to <abbr title="Coordinated Universal Time">UTC</abbr>: <strong>{{{offset}}}</strong>.</li>
        <li>Related: {{#each related}}{{{this}}} {{/each}}.</li>
    </ul>
</div>
