/* Eunomia's stylesheet. */

header,
footer {
    position: fixed;
    left: 0;
    right: 0;
    background-color: #fff0f0;
    border-style: solid;
    border-color: #c0c0c0;
}

header {
    top: 0;
    /*height: 4rem;*/
    border-width: 0 0 1px 0;
}

footer {
    bottom: 0;
    /*height: 2rem;*/
    border-width: 1px 0 0 0;
}

main {
    margin: 16rem;
}
